<!DOCTYPE html>
<html ng-app="triviaApp">

<head>
  <meta charset="utf-8">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="/styles/assets/crownFavicon.png">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller="triviaController">
<header>
  <div></div>
  <h1>Trivia Trends</h1>
  <button ng-click="addQuestionbutton()"><span>+</span> Add Question</button>
</header>
<article>
  <nav>
    <a ng-click="diff = undefined">All Questions</a>
    <a ng-click="diff.difficulty = 1">Easy</a>
    <a ng-click="diff.difficulty = 2">Medium</a>
    <a ng-click="diff.difficulty = 3">Hard</a>
    <a ng-click="diff.animal = searchByAnimal">Search by Animal</a>
  </nav>
  <div class="search">
    <input ng-keypress="$event.keyCode === 13 ? diff.animal = searchByAnimal: null" ng-model="searchByAnimal" type="text" placeholder="Animal to search by">
    <button class="nextBack" ng-click="prevPage()"> Previous</button>
    <button class="nextBack" ng-click="nextPage()">Next</button>
  </div>
  <div ng-repeat="q in questions | filter: diff"  class="question-wrapper" ng-class="{'green': q.correct && q.selected, 'red': !q.correct && q.selected}" >

    <h3>{{q.question}}</h3>
    <div class="green" ng-show="q.difficulty === 1">Easy</div>
    <div class="yellow" ng-show="q.difficulty === 2">Medium</div>
    <div class="red" ng-show="q.difficulty === 3">Hard</div>
    <div ng-click="editQuestionbutton($index)" class="gear">
      <img  src="styles/assets/gear.svg" alt="">
    </div>
    <ul>
      <li ng-repeat="o in q.options"  > <!-- Repeated for each option -->

        <label ng-click="checkAnswer($index, q)">
          {{o}}
        </label>
      </li>
    </ul>

  </div>

</article>

<div ng-hide="addButton" class="modal">
  <form>
    <h4 ng-click="cancel()" class="close">X</h4>
    <span>Question</span><input type="text" ng-model="Question">
    <span>Animal it's about</span><input type="text" ng-model="Animal">
    <span>Difficulty</span>
    <div class="range">
      <input type="range" min="1" max="3" ng-model="Difficulty">

      <h5>{{Difficulty}}</h5>
    </div>
    <h4>Options</h4>
    <div>
      <input type="radio" ng-model="correctAnswer" value="1">
      <input type="text" ng-model="option1">
    </div>
    <div>
      <input type="radio" ng-model="correctAnswer" value="2">
      <input type="text" ng-model="option2">
    </div>
    <div>
      <input type="radio" ng-model="correctAnswer" value="3">
      <input type="text" ng-model="option3">
    </div>
    <div>
      <input type="radio" ng-model="correctAnswer" value="4">
      <input type="text" ng-model="option4">
    </div>

    <!--Add question buttons-->
    <div ng-show="saveQuest" class="buttons">
      <button ng-click="(obj = {question: Question, animal:Animal, correct_answer: correctAnswer, difficulty: Difficulty, options:{ 1:option1, 2:option2, 3:option3, 4:option4}}) (addQuestion(obj))" class="green">Save Question</button>
      <button ng-click="cancel()">Cancel</button>
    </div>

    <!--Edit & Delete question buttons-->
    <div ng-show="edit" class="buttons">
      <button class="red">Delete Question</button>
      <button ng-click="((change = {question: Question, animal:Animal, correct_answer: correctAnswer, difficulty: Difficulty, options:{ 1:option1, 2:option2, 3:option3, 4:option4}}) (saveChange(change)))" class="green">Save Changes</button>
      <button ng-click="cancel()">Cancel</button>
    </div>

  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
<script src="js/app.js" charset="utf-8"></script>
<script src="js/triviaController.js"></script>
<script src="js/triviaService.js"></script>

</body>

</html>